<!DOCTYPE html>
<html lang="en">

  <body>

    <div class="bs-docs-header" id="content" tabindex="-1" data-ng-controller="AppCntl"> 
      <div class="container"> 
        <h1><span translate="">OASP.TITLE</span></h1> 
        <p>
          <span translate="">OASP.TEASER</span>
        </p>
        <div id="carbonads-container">
          <div class="carbonad">
              <button data-ng-click="register()" class="btn btn-primary btn-lg" translate="">OASP.REGISTER</button>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="container">
     <!--
    <fb:login-button size="large" autologoutlink="true" scope="public_profile,email">
      Login with Facebook
    </fb:login-button>
    <button class="btn btn-primary btn-lg" data-ng-click="signInFB()">
        <span translate="">OASP.SIGN_IN_FACEBOOK</span>
    </button>
    -->
    <!-- START THE FEATURETTES -->

      <!--<hr class="featurette-divider">-->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="main/img/teaser1.png" alt="Generic placeholder image">
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="main/img/teaser2.png" alt="Generic placeholder image">
        </div>
      </div>

      <!--<hr class="featurette-divider"> -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="main/img/teaser3.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    
      <!-- Three columns of opinions -->
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle" src="main/img/profile1.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Florian, 34</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="main/img/profile3.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Maria, 32</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="img-circle" src="main/img/profile2.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Jule, 31</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
